<!DOCTYPE html>
  <html>
    <head>
    </head>
    <body>
      <%= @game.player_1.name %> vs. <%= @game.player_2.name %>

      <%= @game.player_2.name %>: 60HP
      
      <a href="/attack">Attack</a>

      <%= @game.current_turn.name %>'s turn

    </body>
  </html>
